body {
	font-family: Arial;
	font-size: 9.5pt;
}

a {
	color: black;
	text-decoration: none;
}

.divFolders {
	font-weight: bold;
	font-size: 10pt;
	width: 300px;
	height: 600px;
	overflow: auto;
	float: left;
	white-space: nowrap;
}

.divFolderStatusOpen {
	width: 18px;
	float: left;
	background: url("../images/folders-sprite.png") no-repeat scroll 0 0 transparent;
	background-position: -22px -118px;
	opacity: 1;
}

.divFolderStatusClosed {
	width: 18px;
	float: left;
	background: url("../images/folders-sprite.png") no-repeat scroll 0 0 transparent;
	background-position: 0px -118px;
	opacity: 1;
}

.divFolderIcon {
	width: 18px;
	float: left;
	background: url("../images/folders-sprite.png") no-repeat scroll 0 0 transparent;
	background-position: -43px -118px;
	opacity: 0.4;
}

.divFolder {
	float: left;
	padding-top: 2px;
	padding-right: 5px;
}

.spanFolderName {
	padding-left: 5px;
}

.divUnreadCount {
	color: #888;
	font-weight: normal;
	padding-top: 2px;
}

.divSubscription {
	float: left;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 2px;
}

.divItems {
	height: 600px;
	overflow: auto;
}

.divItemsHeader {
	font-weight: bold;
	height: 20px;
	padding-left: 5px;
}

.openItem {
	border-top: solid 1px #CCC;
	border-left: solid 1px #4D90F0;
	border-right: solid 1px #CCC;
	background-color: #EEE;
	height: 20px;
	padding-top: 4px;
	padding-left: 2px;
}

.openSubscriptionTitle {
	border-top: solid 1px #CCC;
	border-left: solid 1px #4D90F0;
	background-color: #EEE;
	width: 175px;
	height: 20px;
	float: left;
	padding-top: 4px;
	padding-left: 2px;
	overflow: hidden;
	white-space: nowrap;
}

.folderOpenItemPubDate {
	border-top: solid 1px #CCC;
	background-color: #EEE;
	height: 20px;
	width: 105px;
	float: left;
	padding-top: 4px;
	overflow: hidden;
	white-space: nowrap;
}

.subscriptionOpenItemPubDate {
	border-top: solid 1px #CCC;
	border-left: solid 1px #4D90F0;
	background-color: #EEE;
	height: 20px;
	width: 105px;
	float: left;
	padding-top: 4px;
	overflow: hidden;
	white-space: nowrap;
}

.openItemTitle {
	border-top: solid 1px #CCC;
	background-color: #EEE;
	height: 20px;
	float: left;
	padding-top: 4px;
	padding-left: 5px;
	overflow: hidden;
	white-space: nowrap;
}

.openItemText {
	border-top: solid 1px #CCC;
	background-color: #EEE;
	height: 20px;
	padding-top: 4px;
	padding-left: 2px;
	overflow: hidden;
	white-space: nowrap;
}

.openItemLink {
	border-left: solid 1px #4D90F0;
	border-right: solid 1px #CCC;
	padding-top: 1px;
	padding-left: 2px;
	font-size: 14pt;
	height: 30px;
	white-space: nowrap;
	overflow: hidden;
}

.aOpenItemLink {
	font-weight: bold;
	color: blue;
}

.openItemHTML {
	border-left: solid 1px #4D90F0;
	border-right: solid 1px #CCC;
	padding-top: 1px;
	padding-left: 2px;
}

.openItemTools {
	border-top: solid 1px #EFEFEF;
	border-left: solid 1px #4D90F0;
	border-right: solid 1px #CCC;
	background-color: #FAFAFA;
	height: 30px;
}

.aOpenItemToolsKeepUnread {
	margin-top: 10px;
}

.subscriptionTitle {
	border-top: solid 1px #CCC;
	border-left: solid 1px #CCC;
	color: #555;
	height: 20px;
	width: 175px;
	float: left;
	padding-top: 4px;
	padding-left: 2px;
	overflow: hidden;
	white-space: nowrap;
}

.folderItemPubDate {
	border-top: solid 1px #CCC;
	color: #777;
	height: 20px;
	width: 105px;
	float: left;
	padding-top: 4px;
	overflow: hidden;
	white-space: nowrap;
}

.subscriptionItemPubDate {
	border-top: solid 1px #CCC;
	border-left: solid 1px #CCC;
	color: #777;
	height: 20px;
	width: 105px;
	float: left;
	padding-top: 4px;
	overflow: hidden;
	white-space: nowrap;
}

.itemTitle {
	font-weight: bold;
	border-top: solid 1px #CCC;
	height: 20px;
	float: left;
	padding-top: 4px;
	padding-left: 5px;
	overflow: hidden;
	white-space: nowrap;
}

.itemText {
	border-top: solid 1px #CCC;
	color: #777;
	height: 20px;
	padding-top: 4px;
	padding-left: 2px;
	overflow: hidden;
	white-space: nowrap;
}

.divMoreItems {
	font-weight: bold;
	text-align: center;
	background-color: #EEE;
	border-top: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	border-left: solid 1px #CCC;
	padding-top: 4px;
	height: 20px;
}